body{
    background-color: thistle;
    margin: 0;
    padding: 0;
}

.container{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: peachpuff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.inputField{
    padding: 8px;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
}

.btnLogin{
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(247, 210, 222);
}

a{
    text-decoration: slategray;
}